ul.a {
    list-style-type: circle;
    list-style-position: outside;
}
ul.b {
    list-style-type: square;
    list-style-position: inside;
}
  
ol.c {
    list-style-type: upper-roman;
}
  
ol.d {
    list-style-type: lower-alpha;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
    padding: 20px
}
ol{
    background-color: coral;
    margin:30px
}